/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3rem;
}

p,
a {
    font-size: 2rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    color: white;
    text-align: center;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto;
}

.header_nav a {
    color: white;
    font-size: 2.5rem;
}

.social_icons {
    text-align: center;
}

.social_icons i {
    color: white;
    font-size: 3.5rem;
    margin: 20px 35px;
}

.container_header {
    background-color: rgb(0, 4, 17, .8);

}

/* spacers */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}

.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* gallery section */
.gallery {
    width: 100%;
    /* height: 100vh; */
    text-align: center;
    background-color: rgb(0, 4, 17);
}

.gallery_items_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}

.gallery h2 {
    color: white;
    padding-top: 30px;
}

.gallery_items {
    width: 22vw;
    height: 15vw;
    margin: 1.5%;
}


/* about us section */
.about {
    width: 100%;
    height: 75vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
}

.about {
    color: white;
}

.about h2 {
    width: 100%;
    font-size: 4rem;
}

.about-container .text {
    width: 50%;
}

.text p {
    margin-bottom: 100px;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
    color: white;
}

.contact h2 {
    padding-top: 5vh;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.address {
    width: 25%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}

.contacts a {
    color: white;
    text-decoration: none;
}




/* footer section */
footer {
    width: 100%;
    height: 160px;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
}

.footer_container {
    background-color: rgb(0, 4, 17);
    color: white;
    border-top: 2px solid white;
}

.footer_nav {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
    width: 90vw;
}

.footer_nav a {
    font-size: 2.5rem;
    color: white;
}

.footer_first {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer_first p {
    font-size: 2.5rem;
}

.input_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: -60px;
}

#email {
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#register {
    padding-left: 10px;
    padding-right: 10px;
}

#copyright {
    font-size: 1.5rem;
    margin-left: 68%;
    width: 30%;
}


/* mobile media query */
@media (max-width: 428px) {
    /* header section */

    .header_nav {
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        margin: 10px auto;
        text-align: center;
    }

    .header_nav a {
        color: white;
        font-size: 7vw;
    }

    .social_icons {
        text-align: center;
    }

    .social_icons i {
        color: white;
        font-size: 7vw;
        margin: 5px 6px;
        margin-top: 20px;
    }

    .container_header h1 {
        font-size: 4rem;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        
    }

    .container_header {
        width: 99vw;
    }

    /* gallery section */
    .gallery {
        height: auto;
    }

    .gallery h2 {
        font-size: 13vw;
        margin-right: 2%;

    }

    .gallery_items {
        width: 100vw;
        height: 60vw;
        margin: 2%;
        margin: 0;
        margin-bottom: 20px;
    }

    /* about us section */

    .about {
        height: 150vh;
    }

    .about h2 {
        width: 100%;
        padding-top: 5vh;
        font-size: 13vw;
    }

    .about-container {
        text-align: center;
        padding-right: 8%;
    }

    .about-container .text {
        width: 85%;
    }

    .text h3 {
        font-size: 11vw;
    }

    .text p {
        margin-bottom: 50px;
    }

    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }

    .contact-container {
        width: 99vw;
        margin: 10%, 10%;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        
    }

    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    .hours {
        width: 100%;
    }

    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    #email {
        padding-left: 18%;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }

    .footer_nav {
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 10px 10px;
        width: 90vw;
        text-align: center;
    }

    .input_button {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 2%;
        margin-bottom: 3%;
    }


    .input_button #email {
        width: 90vw;
        padding-left: 2px;

    }

    #register {
        width: 90vw;
        padding: auto 25px;
    }

    #copyright {
        font-size: 1rem;
        margin: 10% 10%;
        margin-bottom: 0;
        width: 60%;
        text-align: center;
    }
}